sudo apt update
sudo apt install git mysql-client y
git clone -b vp-rem https://github.com/ADITYA1234556/docker-project.git
mysql -h ${RDS-ENDPOINT} -u ${DBUSER} --password=${DBPASS} accounts < /home/ubuntu/docker-project/src/main/resources/db_backup.sql
